@model Settings

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-antiforgery="true" method="post" asp-action="Index">
    <div>
        <div>
            <label asp-for="GlpiAddress">GLPI Адрес</label>
            <input value="@Model.GlpiAddress"/>
        </div>
        <div>
            <label asp-for="GlpiAddress">GLPI Ключ приложения</label>
            <input value="@Model.GlpiAppKey"/>
        </div>
        <div>
            <label asp-for="GlpiAddress">GLPI Token приложения</label>
            <input value="@Model.GlpiToken"/>
        </div>
        <div>
            <label asp-for="GlpiAddress">Google Сервестный аккауyт</label>
            <input value="@Model.ServiceGoogleAccount"/>
        </div>
        <div>
            <label asp-for="GlpiAddress">Google Закрытый ключ</label>
            <input type="file" multiple="false"/>
        </div>
        <div>
            <label asp-for="GlpiAddress">Google Пароль от закрытого ключа</label>
            <input value="@Model.PassCartificate"/>
        </div>
        <br/>
        <input class="btn-info" type="submit" value="Сохранить"/>
    </div>
</form>
